body {
	font: 14px 'Helvetica Neue', Helvetica, helvetica, sans-serif;
	line-height: 1.4em;
	background: #eaeaea url('../images/bg1.png');
	color: #4d4d4d;
	width: 550px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3), 0 25px 50px 0 rgba(0, 0, 0, 0.5);
}

/*#header:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 45px;
	z-index: 2;
	border-bottom: 1px solid #6c615c;
	background: #f1f1f1;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(132, 110, 100, 0.8)),to(rgba(101, 84, 76, 0.8)));
	background: -webkit-linear-gradient(top, rgba(241, 241, 241, 0.8), rgba(203, 203, 203, 0.8));
	background: -moz-linear-gradient(top, rgba(241, 241, 241, 0.8), rgba(203, 203, 203, 0.8));
	background: -o-linear-gradient(top, rgba(241, 241, 241, 0.8), rgba(203, 203, 203, 0.8));
	background: -ms-linear-gradient(top, rgba(241, 241, 241, 0.8), rgba(203, 203, 203, 0.8));
	background: linear-gradient(top, rgba(241, 241, 241, 0.8), rgba(203, 203, 203, 0.8));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#9d8b83', EndColorStr='#847670');
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	-webkit-box-shadow: 0 8px 6px -6px white;
	-moz-box-shadow: 0 8px 6px -6px white;
	box-shadow: 0 8px 6px -6px white;
}*/

#header {
  padding-top: 15px;
  border-radius: inherit;
}

.mus {
  /*font-size: 25px;*/
  font-weight: bold;
  text-align: center;
  color: #b3b3b3;
  color: rgba(255, 255, 255, 0.3);
  text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.repeat-button-container {
  background: #3b3b3b;
  border-radius: 10px;
  margin: 0px;
  border: 1px solid #262626;
  width: 70px;
  height: 29px;
  position: absolute;
  top: 180px;
  left: 860px;
}
.repeat-button {
  background: #302c2d;
  background-image: -moz-linear-gradient(270deg, #302c2d 0%, #1e1e1e 100%);
  background-image: -webkit-linear-gradient(270deg, #302c2d 0%, #1e1e1e 100%);
  background-image: -o-linear-gradient(270deg, #302c2d 0%, #1e1e1e 100%);
  background-image: linear-gradient(180deg, #302c2d 0%, #1e1e1e 100%);
  border-radius: 10px;
  margin: 1px 0 0 1px;
  border: 2px solid #212121;
  width: 64px;
  height: 23px;
  position: relative;
}
.repeat-button:hover {
  background-image: -moz-linear-gradient(270deg, #302c2d 0%, #1e1e1e 50%);
  background-image: -webkit-linear-gradient(270deg, #302c2d 0%, #1e1e1e 50%);
  background-image: -o-linear-gradient(270deg, #302c2d 0%, #1e1e1e 50%);
  background-image: linear-gradient(180deg, #302c2d 0%, #1e1e1e 50%);
}
#repeat-text {
  text-align: center;
  color: #48aa93;
  font-family:"helvetica";
  font-weight: 800;
  font-size: 9pt;
  line-height: 1.2;
  text-shadow: 0px 0px 10px rgba(0, 201, 198, 0.7);
  line-height: 10px; /* 40 + a couple of pixels visual adjustment */
  position: relative;
  margin: -18px 0px 0px 3px;
}

.album-image {
  background: #302c2d;
  background-image: -moz-linear-gradient(270deg, #302c2d 0%, #1e1e1e 100%);
  background-image: -webkit-linear-gradient(270deg, #302c2d 0%, #1e1e1e 100%);
  background-image: -o-linear-gradient(270deg, #302c2d 0%, #1e1e1e 100%);
  background-image: linear-gradient(180deg, #302c2d 0%, #1e1e1e 100%);
  -moz-box-shadow: 0px 0px 10px 0px rgba(145, 246, 255, 0.7);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(145, 246, 255, 0.7);
  -o-box-shadow: 0px 0px 10px 0px rgba(145, 246, 255, 0.7);
  box-shadow: 0px 0px 10px 0px rgba(145, 246, 255, 0.7);
  border-radius: 10px;
  position: absolute;
  margin: 105px 0px 0px 20px;
  border: 1px solid #474747;
  width: 120px;
  height: 90px;
  z-index:2;
}

#image {
  background: #eaeaea url('../images/image.png');
  position: relative;
  z-index:3;
  width: 120px;
  height: 90px;
}

.sound-button {
  background: url('../images/sound.png');
  position: absolute;
  z-index:3;
  width: 42px;
  height: 40px;
  top: 230px;
  left: 920px;
}

.sound-level {
  background: url('../images/sound-level.png');
  position: absolute;
  z-index:3;
  width: 138px;
  height: 43px;
  top: 228px;
  left: 790px;
  visibility:hidden;
}

 .play-button.play {
   color: #cccccc;
   font-family:"helvetica";
   font-size: 20pt;
   line-height: 1.2;
   width: 19px;
   height: 22px;
   margin: 3px 0px 0px 13.5px;
 }
 .play-button.forward {
   color: #cccccc;
   font-family:"helvetica";
   font-size: 30pt;
   line-height: 1.2;
   width: 40px;
   height: 48px;
   margin: 25px 0px 0px 33px;
 }
 .play-button.backward {
   color: #cccccc;
   font-family:"helvetica";
   font-size: 20pt;
   line-height: 1.2;
   width: 19px;
   height: 22px;
   margin: 3px 2px 0px 12px;
 }
 /*.oval {
   background: #e3e3e3;
   background-image: -moz-linear-gradient(270deg, #e3e3e3 0%, #6b6b6b 100%);
   background-image: -webkit-linear-gradient(270deg, #e3e3e3 0%, #6b6b6b 100%);
   background-image: -o-linear-gradient(270deg, #e3e3e3 0%, #6b6b6b 100%);
   background-image: linear-gradient(180deg, #e3e3e3 0%, #6b6b6b 100%);
   border: none;
   width: 70px;
   height: 70px;
   position: absolute;
   top: 170px;
   left: 780px;
   border-radius: 35px / 35px;
 }*/
 .oval-1 {
   background: #171717;
   background-image: -moz-linear-gradient(270deg, #171717 0%, #1b1b1b 100%);
   background-image: -webkit-linear-gradient(270deg, #171717 0%, #1b1b1b 100%);
   background-image: -o-linear-gradient(270deg, #171717 0%, #1b1b1b 100%);
   background-image: linear-gradient(180deg, #171717 0%, #1b1b1b 100%);
   border: 2px dotted #595959;
   width: 46px;
   height: 46px;
   margin: 10px 0px 0px 10px;
     position: absolute; /*Replace it with relative to restore the white border*/
     top: 160px;
     left: 770px;
   border-radius: 25px / 25px;
 }
 .oval-2 {
   background: #a8a8a8;
   background-image: -moz-linear-gradient(270deg, #a8a8a8 0%, #1b1b1b 100%);
   background-image: -webkit-linear-gradient(270deg, #a8a8a8 0%, #1b1b1b 100%);
   background-image: -o-linear-gradient(270deg, #a8a8a8 0%, #1b1b1b 100%);
   background-image: linear-gradient(180deg, #a8a8a8 0%, #1b1b1b 100%);
   border: none;
   width: 46px;
   height: 46px;
   margin: -1.05 0 0 -0.11;
   position: relative;
   border-radius: 23px / 23px;
 }
  .oval-2:hover {
   background-image: -moz-linear-gradient(270deg, #a8a8a8 0%, #1b1b1b 50%);
   background-image: -webkit-linear-gradient(270deg, #a8a8a8 0%, #1b1b1b 50%);
   background-image: -o-linear-gradient(270deg, #a8a8a8 0%, #1b1b1b 50%);
   background-image: linear-gradient(180deg, #a8a8a8 0%, #1b1b1b 50%);
 }
 .oval-3 {
   background: #2e2e2e;
   background-image: -moz-linear-gradient(270deg, #2e2e2e 0%, #1b1b1b 100%);
   background-image: -webkit-linear-gradient(270deg, #2e2e2e 0%, #1b1b1b 100%);
   background-image: -o-linear-gradient(270deg, #2e2e2e 0%, #1b1b1b 100%);
   background-image: linear-gradient(180deg, #2e2e2e 0%, #1b1b1b 100%);
   border: 2px solid #474747;
   width: 44px;
   height: 44px;
   margin: 0.1px 0 0 0.1px;
   position: relative;
   border-radius: 24px / 24px;
 }
 /*.oval-4 {
   background: #e3e3e3;
   background-image: -moz-linear-gradient(270deg, #e3e3e3 0%, #6b6b6b 100%);
   background-image: -webkit-linear-gradient(270deg, #e3e3e3 0%, #6b6b6b 100%);
   background-image: -o-linear-gradient(270deg, #e3e3e3 0%, #6b6b6b 100%);
   background-image: linear-gradient(180deg, #e3e3e3 0%, #6b6b6b 100%);
   border: none;
   width: 125px;
   height: 125px;
   position: absolute;
   top: 150px;
   left: 650px;
   border-radius: 63px / 63px;
 }*/
 .oval-5 {
   background: #171717;
   background-image: -moz-linear-gradient(270deg, #171717 0%, #1b1b1b 100%);
   background-image: -webkit-linear-gradient(270deg, #171717 0%, #1b1b1b 100%);
   background-image: -o-linear-gradient(270deg, #171717 0%, #1b1b1b 100%);
   background-image: linear-gradient(180deg, #171717 0%, #1b1b1b 100%);
   border: 2px dotted #595959;
   width: 102px;
   height: 102px;
   margin: 10px 0 0 10px;
   position: absolute; /*Replace it with relative to restore the white border*/
   top: 140px;
   left: 650px;
   border-radius: 53px / 53px;
 }
 .oval-6 {
   background: #a8a8a8;
   background-image: -moz-linear-gradient(270deg, #a8a8a8 0%, #1b1b1b 100%);
   background-image: -webkit-linear-gradient(270deg, #a8a8a8 0%, #1b1b1b 100%);
   background-image: -o-linear-gradient(270deg, #a8a8a8 0%, #1b1b1b 100%);
   background-image: linear-gradient(180deg, #a8a8a8 0%, #1b1b1b 100%);
   border: none;
   width: 98px;
   height: 98px;
   margin: 0px 0 0 2px;
   position: relative;
   border-radius: 49px / 49px;
 }
 .oval-7 {
   background: #2e2e2e;
   background-image: -moz-linear-gradient(270deg, #2e2e2e 0%, #1b1b1b 100%);
   background-image: -webkit-linear-gradient(270deg, #2e2e2e 0%, #1b1b1b 100%);
   background-image: -o-linear-gradient(270deg, #2e2e2e 0%, #1b1b1b 100%);
   background-image: linear-gradient(180deg, #2e2e2e 0%, #1b1b1b 100%);
   border: 2px solid #474747;
   width: 98px;
   height: 98px;
   margin: 0px 0 0 -2px;
   position: relative;
   border-radius: 51px / 51px;
 }
 /*.oval-8 {
   background: #e3e3e3;
   background-image: -moz-linear-gradient(270deg, #e3e3e3 0%, #6b6b6b 100%);
   background-image: -webkit-linear-gradient(270deg, #e3e3e3 0%, #6b6b6b 100%);
   background-image: -o-linear-gradient(270deg, #e3e3e3 0%, #6b6b6b 100%);
   background-image: linear-gradient(180deg, #e3e3e3 0%, #6b6b6b 100%);
   border: none;
   width: 70px;
   height: 70px;
   position: absolute;
   top: 170px;
   left: 570px;
   border-radius: 35px / 35px;
 }*/
 .oval-9 {
   background: #171717;
   background-image: -moz-linear-gradient(270deg, #171717 0%, #1b1b1b 100%);
   background-image: -webkit-linear-gradient(270deg, #171717 0%, #1b1b1b 100%);
   background-image: -o-linear-gradient(270deg, #171717 0%, #1b1b1b 100%);
   background-image: linear-gradient(180deg, #171717 0%, #1b1b1b 100%);
   border: 2px dotted #595959;
   width: 46px;
   height: 46px;
   margin: 9px 0 0 10px;
   position: absolute; /*Replace it with relative to restore the white border*/
   top: 160px;
   left: 585px;
   border-radius: 25px / 25px;
 }
 .oval-10 {
   background: #a8a8a8;
   background-image: -moz-linear-gradient(270deg, #a8a8a8 0%, #1b1b1b 100%);
   background-image: -webkit-linear-gradient(270deg, #a8a8a8 0%, #1b1b1b 100%);
   background-image: -o-linear-gradient(270deg, #a8a8a8 0%, #1b1b1b 100%);
   background-image: linear-gradient(180deg, #a8a8a8 0%, #1b1b1b 100%);
   border: none;
   width: 46px;
   height: 46px;
   margin: -1px 0 0 -0.11px;
   position: relative;
   border-radius: 23px / 23px;
 }
 .oval-11 {
   background: #2e2e2e;
   background-image: -moz-linear-gradient(270deg, #2e2e2e 0%, #1b1b1b 100%);
   background-image: -webkit-linear-gradient(270deg, #2e2e2e 0%, #1b1b1b 100%);
   background-image: -o-linear-gradient(270deg, #2e2e2e 0%, #1b1b1b 100%);
   background-image: linear-gradient(180deg, #2e2e2e 0%, #1b1b1b 100%);
   border: 2px solid #474747;
   width: 44px;
   height: 44px;
   margin: 0.95px 0 0 0.53px;
   position: relative;
   border-radius: 24px / 24px;
 }

.app-rect {
  background: #eaeaea url('../images/bg.png');
  margin: 0px;
  border: none;
  width: 566px;
  height: 500px;
  /*position: absolute;*/
  top: 1467px;
  left: 114px;
}

 .music-rect {
  background: #eaeaea url('../images/header-bg.png');
  margin: 0px;
  border: none;
  width: 564px;
  height: 60px;
  position: absolute;
  top: 70px;
  left: 408px;
}

.music-title {
  color: #cfcfcf;
  font-family:"helvetica";
  font-size: 9pt;
  line-height: 1.2;
  width: 300px;
  height: 15px;
  position: absolute;
  top: 75px;
  left: 425px;
}

.timeline-rect {
  background: #eaeaea url('../images/timeline-bg.png');
  margin: 0px;
  border: none;
  width: 564px;
  height: 72px;
  position: absolute;
  top: 275px;
  left: 408px;
}

.line {
  background: #eaeaea url('../images/line-bg.png');
  margin: 30px 0px 0px 15px;
  border: none;
  width: 534px;
  height: 12px;
  /*border-radius: 15px;*/
  position: relative;
}

 .title-rect {
  background: #eaeaea url('../images/title-bg.png');
  margin: 0px;
  border: none;
  width: 564px;
  height: 88px;
  position: absolute;
  top: 345px;
  left: 408px;
}
#title-text {
  color: #cfcfcf;
  font-family:"helvetica";
  font-size: 10pt;
  line-height: 1.2;
  position: relative;
  margin: 18px 0px 0px 55px;
}
#title-text1 {
  color: #cfcfcf;
  font-family:"helvetica";
  font-size: 10pt;
  line-height: 1.2;
  position: relative;
  margin: 15px 0px 0px 55px;
}
#title-number {
  background: url('../images/title-number.png');
  margin: 0px;
  border: none;
  width: 41px;
  height: 43px;
  position: relative;
  margin: -44px 0px 0px 5px;
}

#sound-button {
  background: url('../images/sound-button.png');
  margin: 0px;
  border: none;
  width: 48px;
  height: 35px;
  position: relative;
  margin: -37px 0px 0px 490px;
}

 .title-rect2 {
  background: #eaeaea url('../images/title-bg.png');
  margin: 0px;
  border: none;
  width: 564px;
  height: 88px;
  position: absolute;
  top: 425px;
  left: 408px;
}
 .title-rect3 {
  background: #eaeaea url('../images/title-bg.png');
  margin: 0px;
  border: none;
  width: 564px;
  height: 88px;
  position: absolute;
  top: 505px;
  left: 408px;
}